<style type="text/css">
#kohana_error { background: #ddd; font-size: 1em; font-family:sans-serif; text-align: left; color: #111; }
#kohana_error h1,
#kohana_error h2 { margin: 0; padding: 1em; font-size: 1em; font-weight: normal; background: #911; color: #fff; }
	#kohana_error h1 a,
	#kohana_error h2 a { color: #fff; }
#kohana_error h2 { background: #222; }
#kohana_error h3 { margin: 0; padding: 0.4em 0 0; font-size: 1em; font-weight: normal; }
#kohana_error p { margin: 0; padding: 0.2em 0; }
#kohana_error a { color: #1b323b; }
#kohana_error pre { overflow: auto; white-space: pre-wrap; }
#kohana_error table { width: 100%; display: block; margin: 0 0 0.4em; padding: 0; border-collapse: collapse; background: #fff; }
	#kohana_error table td { border: solid 1px #ddd; text-align: left; vertical-align: top; padding: 0.4em; }
#kohana_error div.content { padding: 0.4em 1em 1em; overflow: hidden; }
#kohana_error pre.source { margin: 0 0 1em; padding: 0.4em; background: #fff; border: dotted 1px #b7c680; line-height: 1.2em; }
	#kohana_error pre.source span.line { display: block; }
	#kohana_error pre.source span.highlight { background: #f0eb96; }
		#kohana_error pre.source span.line span.number { color: #666; }
#kohana_error ol.trace { display: block; margin: 0 0 0 2em; padding: 0; list-style: decimal; }
	#kohana_error ol.trace li { margin: 0; padding: 0; }
.js .collapsed { display: none; }
</style>
<script type="text/javascript">
document.documentElement.className = document.documentElement.className + ' js';
function koggle(elem)
{
	elem = document.getElementById(elem);

	if (elem.style && elem.style['display'])
		// Only works with the "style" attr
		var disp = elem.style['display'];
	else if (elem.currentStyle)
		// For MSIE, naturally
		var disp = elem.currentStyle['display'];
	else if (window.getComputedStyle)
		// For most other browsers
		var disp = document.defaultView.getComputedStyle(elem, null).getPropertyValue('display');

	// Toggle the state of the "display" style
	elem.style.display = disp == 'block' ? 'none' : 'block';
	return false;
}
</script>
<div id="kohana_error">
	<h1><span class="type">ErrorException [ Fatal Error ]:</span> <span class="message">Class &#039;TransactionSearchRequestType&#039; not found</span></h1>
	<div id="error574804725fac8" class="content">
		<p><span class="file">APPPATH/classes/Task/DownloadPaypal.php [ 12 ]</span></p>
		<pre class="source"><code><span class="line"><span class="number"> 7</span>     {
</span><span class="line"><span class="number"> 8</span> 		require_once(SYSPATH . '../vendor/autoload.php');
</span><span class="line"><span class="number"> 9</span> 		//echo SYSPATH;die('123');
</span><span class="line"><span class="number">10</span> 		Log::instance()-&gt;add(Log::INFO, 'Download execute: ' . print_r($_GET, true) . ' ' . print_r($_POST, true));
</span><span class="line"><span class="number">11</span> 				
</span><span class="line highlight"><span class="number">12</span> 		$search_request_type = new TransactionSearchRequestType();
</span><span class="line"><span class="number">13</span> 		$search_request_type-&gt;StartDate = date("Y-m-d\TH:i:sO", strtotime('-2 day 00:00'));
</span><span class="line"><span class="number">14</span> 		
</span><span class="line"><span class="number">15</span> 		$search_request = new TransactionSearchReq();
</span><span class="line"><span class="number">16</span> 		$search_request-&gt;TransactionSearchRequest = $search_request_type;
</span><span class="line"><span class="number">17</span> 		
</span></code></pre>		<ol class="trace">
					<li>
				<p>
					<span class="file">
													{PHP internal call}
											</span>
					&raquo;
					Kohana_Core::shutdown_handler()
				</p>
											</li>
							</ol>
	</div>
	<h2><a href="#error574804725fac8environment" onclick="return koggle('error574804725fac8environment')">Environment</a></h2>
	<div id="error574804725fac8environment" class="content collapsed">
				<h3><a href="#error574804725fac8environment_included" onclick="return koggle('error574804725fac8environment_included')">Included files</a> (61)</h3>
		<div id="error574804725fac8environment_included" class="collapsed">
			<table cellspacing="0">
								<tr>
					<td><code>DOCROOT/index.php</code></td>
				</tr>
								<tr>
					<td><code>APPPATH/bootstrap.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Core.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/I18n.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/I18n.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Cookie.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Cookie.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Exception.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Kohana/Exception.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Log.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Log.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Config.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Config.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Log/File.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Log/File.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Log/Writer.php</code></td>
				</tr>
								<tr>
					<td><code>APPPATH/classes/Kohana/Log/Writer.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Config/File.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Config/File.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Config/File/Reader.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Config/Reader.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Config/Source.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Route.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Route.php</code></td>
				</tr>
								<tr>
					<td><code>MODPATH/minion/classes/Minion/Task.php</code></td>
				</tr>
								<tr>
					<td><code>MODPATH/minion/classes/Kohana/Minion/Task.php</code></td>
				</tr>
								<tr>
					<td><code>MODPATH/minion/classes/Minion/Exception.php</code></td>
				</tr>
								<tr>
					<td><code>MODPATH/minion/classes/Kohana/Minion/Exception.php</code></td>
				</tr>
								<tr>
					<td><code>MODPATH/minion/classes/Minion/CLI.php</code></td>
				</tr>
								<tr>
					<td><code>MODPATH/minion/classes/Kohana/Minion/CLI.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Arr.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Arr.php</code></td>
				</tr>
								<tr>
					<td><code>APPPATH/classes/Task/DownloadPaypal.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Validation.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Validation.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Profiler.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Profiler.php</code></td>
				</tr>
								<tr>
					<td><code>DOCROOT/vendor/autoload.php</code></td>
				</tr>
								<tr>
					<td><code>DOCROOT/vendor/composer/autoload_real.php</code></td>
				</tr>
								<tr>
					<td><code>DOCROOT/vendor/composer/ClassLoader.php</code></td>
				</tr>
								<tr>
					<td><code>DOCROOT/vendor/composer/autoload_namespaces.php</code></td>
				</tr>
								<tr>
					<td><code>DOCROOT/vendor/composer/autoload_psr4.php</code></td>
				</tr>
								<tr>
					<td><code>DOCROOT/vendor/composer/autoload_classmap.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Date.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Date.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Debug.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Debug.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/View.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/View.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Response.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/Response.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/HTTP/Response.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/HTTP/Response.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/HTTP/Message.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/HTTP/Message.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/HTTP/Header.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/HTTP/Header.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/views/kohana/error.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/HTML.php</code></td>
				</tr>
								<tr>
					<td><code>SYSPATH/classes/Kohana/HTML.php</code></td>
				</tr>
							</table>
		</div>
				<h3><a href="#error574804725fac8environment_loaded" onclick="return koggle('error574804725fac8environment_loaded')">Loaded extensions</a> (51)</h3>
		<div id="error574804725fac8environment_loaded" class="collapsed">
			<table cellspacing="0">
								<tr>
					<td><code>Core</code></td>
				</tr>
								<tr>
					<td><code>date</code></td>
				</tr>
								<tr>
					<td><code>ereg</code></td>
				</tr>
								<tr>
					<td><code>libxml</code></td>
				</tr>
								<tr>
					<td><code>openssl</code></td>
				</tr>
								<tr>
					<td><code>pcre</code></td>
				</tr>
								<tr>
					<td><code>zlib</code></td>
				</tr>
								<tr>
					<td><code>bcmath</code></td>
				</tr>
								<tr>
					<td><code>bz2</code></td>
				</tr>
								<tr>
					<td><code>calendar</code></td>
				</tr>
								<tr>
					<td><code>ctype</code></td>
				</tr>
								<tr>
					<td><code>dba</code></td>
				</tr>
								<tr>
					<td><code>dom</code></td>
				</tr>
								<tr>
					<td><code>hash</code></td>
				</tr>
								<tr>
					<td><code>fileinfo</code></td>
				</tr>
								<tr>
					<td><code>filter</code></td>
				</tr>
								<tr>
					<td><code>ftp</code></td>
				</tr>
								<tr>
					<td><code>gettext</code></td>
				</tr>
								<tr>
					<td><code>SPL</code></td>
				</tr>
								<tr>
					<td><code>iconv</code></td>
				</tr>
								<tr>
					<td><code>json</code></td>
				</tr>
								<tr>
					<td><code>mbstring</code></td>
				</tr>
								<tr>
					<td><code>pcntl</code></td>
				</tr>
								<tr>
					<td><code>session</code></td>
				</tr>
								<tr>
					<td><code>posix</code></td>
				</tr>
								<tr>
					<td><code>readline</code></td>
				</tr>
								<tr>
					<td><code>Reflection</code></td>
				</tr>
								<tr>
					<td><code>standard</code></td>
				</tr>
								<tr>
					<td><code>shmop</code></td>
				</tr>
								<tr>
					<td><code>SimpleXML</code></td>
				</tr>
								<tr>
					<td><code>soap</code></td>
				</tr>
								<tr>
					<td><code>sockets</code></td>
				</tr>
								<tr>
					<td><code>Phar</code></td>
				</tr>
								<tr>
					<td><code>exif</code></td>
				</tr>
								<tr>
					<td><code>sysvmsg</code></td>
				</tr>
								<tr>
					<td><code>sysvsem</code></td>
				</tr>
								<tr>
					<td><code>sysvshm</code></td>
				</tr>
								<tr>
					<td><code>tokenizer</code></td>
				</tr>
								<tr>
					<td><code>wddx</code></td>
				</tr>
								<tr>
					<td><code>xml</code></td>
				</tr>
								<tr>
					<td><code>xmlreader</code></td>
				</tr>
								<tr>
					<td><code>xmlwriter</code></td>
				</tr>
								<tr>
					<td><code>zip</code></td>
				</tr>
								<tr>
					<td><code>curl</code></td>
				</tr>
								<tr>
					<td><code>gd</code></td>
				</tr>
								<tr>
					<td><code>mcrypt</code></td>
				</tr>
								<tr>
					<td><code>mysql</code></td>
				</tr>
								<tr>
					<td><code>mysqli</code></td>
				</tr>
								<tr>
					<td><code>PDO</code></td>
				</tr>
								<tr>
					<td><code>pdo_mysql</code></td>
				</tr>
								<tr>
					<td><code>mhash</code></td>
				</tr>
							</table>
		</div>
																<h3><a href="#error574804725fac8environment_server" onclick="return koggle('error574804725fac8environment_server')">$_SERVER</a></h3>
		<div id="error574804725fac8environment_server" class="collapsed">
			<table cellspacing="0">
								<tr>
					<td><code>TERM</code></td>
					<td><pre><small>string</small><span>(5)</span> "xterm"</pre></td>
				</tr>
								<tr>
					<td><code>SHELL</code></td>
					<td><pre><small>string</small><span>(9)</span> "/bin/bash"</pre></td>
				</tr>
								<tr>
					<td><code>SSH_CLIENT</code></td>
					<td><pre><small>string</small><span>(23)</span> "192.168.100.23 55003 22"</pre></td>
				</tr>
								<tr>
					<td><code>SSH_TTY</code></td>
					<td><pre><small>string</small><span>(10)</span> "/dev/pts/1"</pre></td>
				</tr>
								<tr>
					<td><code>LC_ALL</code></td>
					<td><pre><small>string</small><span>(5)</span> "en_US"</pre></td>
				</tr>
								<tr>
					<td><code>USER</code></td>
					<td><pre><small>string</small><span>(7)</span> "vagrant"</pre></td>
				</tr>
								<tr>
					<td><code>LS_COLORS</code></td>
					<td><pre><small>string</small><span>(1302)</span> "rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:ca=30;41:tw=30;42:&nbsp;&hellip;"</pre></td>
				</tr>
								<tr>
					<td><code>MAIL</code></td>
					<td><pre><small>string</small><span>(17)</span> "/var/mail/vagrant"</pre></td>
				</tr>
								<tr>
					<td><code>PATH</code></td>
					<td><pre><small>string</small><span>(93)</span> "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/opt/vagrant_ruby/bin"</pre></td>
				</tr>
								<tr>
					<td><code>PWD</code></td>
					<td><pre><small>string</small><span>(25)</span> "/var/www/html/payment/oms"</pre></td>
				</tr>
								<tr>
					<td><code>SHLVL</code></td>
					<td><pre><small>string</small><span>(1)</span> "1"</pre></td>
				</tr>
								<tr>
					<td><code>HOME</code></td>
					<td><pre><small>string</small><span>(13)</span> "/home/vagrant"</pre></td>
				</tr>
								<tr>
					<td><code>LOGNAME</code></td>
					<td><pre><small>string</small><span>(7)</span> "vagrant"</pre></td>
				</tr>
								<tr>
					<td><code>SSH_CONNECTION</code></td>
					<td><pre><small>string</small><span>(39)</span> "192.168.100.23 55003 192.168.100.201 22"</pre></td>
				</tr>
								<tr>
					<td><code>LESSOPEN</code></td>
					<td><pre><small>string</small><span>(22)</span> "| /usr/bin/lesspipe %s"</pre></td>
				</tr>
								<tr>
					<td><code>LESSCLOSE</code></td>
					<td><pre><small>string</small><span>(23)</span> "/usr/bin/lesspipe %s %s"</pre></td>
				</tr>
								<tr>
					<td><code>_</code></td>
					<td><pre><small>string</small><span>(12)</span> "/usr/bin/php"</pre></td>
				</tr>
								<tr>
					<td><code>OLDPWD</code></td>
					<td><pre><small>string</small><span>(26)</span> "/etc/apache2/sites-enabled"</pre></td>
				</tr>
								<tr>
					<td><code>PHP_SELF</code></td>
					<td><pre><small>string</small><span>(35)</span> "/var/www/html/payment/oms/index.php"</pre></td>
				</tr>
								<tr>
					<td><code>SCRIPT_NAME</code></td>
					<td><pre><small>string</small><span>(35)</span> "/var/www/html/payment/oms/index.php"</pre></td>
				</tr>
								<tr>
					<td><code>SCRIPT_FILENAME</code></td>
					<td><pre><small>string</small><span>(35)</span> "/var/www/html/payment/oms/index.php"</pre></td>
				</tr>
								<tr>
					<td><code>PATH_TRANSLATED</code></td>
					<td><pre><small>string</small><span>(35)</span> "/var/www/html/payment/oms/index.php"</pre></td>
				</tr>
								<tr>
					<td><code>DOCUMENT_ROOT</code></td>
					<td><pre><small>string</small><span>(0)</span> ""</pre></td>
				</tr>
								<tr>
					<td><code>REQUEST_TIME</code></td>
					<td><pre><small>integer</small> 1464337522</pre></td>
				</tr>
								<tr>
					<td><code>argv</code></td>
					<td><pre><small>array</small><span>(2)</span> <span>(
    0 => <small>string</small><span>(35)</span> "/var/www/html/payment/oms/index.php"
    1 => <small>string</small><span>(21)</span> "--task=DownloadPaypal"
    5748047264775 => <small>bool</small> TRUE
)</span></pre></td>
				</tr>
								<tr>
					<td><code>argc</code></td>
					<td><pre><small>integer</small> 2</pre></td>
				</tr>
							</table>
		</div>
			</div>
</div>
