@charset "utf-8";
/* CSS Document */

body {
	margin:0px; padding:0px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#FFFFFF;
	line-height:24px;
	background-image:url(../images/bg.jpg);
	}

#content{
	margin: 0 auto;
	width:1024px;
	font-size:12px;
	text-align:left;
	padding:40px 0px 0px 0px;
}

#nav
{
	background-color:#15A62B;
	width:730px;
	height:42px;
	padding-top:8px;
}

#nav a
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:white;
	font-size:13px;
	text-decoration:none;
}

#nav a:hover
{
	color:#FFFF00;
}

a.off:link
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#0000FF;
	font-size:13px;
	text-decoration:underline;
}

a.off:visited	
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:none;
	color:#0000FF;
	font-size:13px;
	text-decoration:underline;
}

.text-brown-header
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#663300;
	line-height:30px;
	text-align:center;
}

.s3-1{position:absolute; margin:5px 0px 0px 170px;}
.s3-2{position:absolute; margin:-60px 0px 0px 13px;}

.s2-1{position:absolute; margin:5px 0px 0px 165px;}
.s2-2{position:absolute; margin:-60px 0px 0px 20px;}

.s1-1{position:absolute; margin:-10px 0px 0px 158px;}
.s1-2{position:absolute; margin:-40px 0px 0px 50px;}

.padding-checkbox {padding:10px 0px 0px 10px}

.text-brown-header2
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:35px;
	color:#663300;
	line-height:30px;
	text-align:center;
	font-weight:bold;
}

.text-green-header
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#70BA08;
	line-height:30px;
}

.text-black-header6
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#000;
	line-height:40px;
	text-align:left;
	font-weight:bold;
}

.text-black-header5
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#000;
	line-height:30px;
}

.text-black-header4
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#000;
	line-height:30px;
	text-align:center;
	font-weight:bold;
}

.text-black-header3
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#000;
	line-height:30px;
	text-align:left;
	font-weight:bold;
}

.text-black-header2
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#000;
	line-height:30px;
	text-align:left;
}

.text-black-header
{
	font-family:"Times New Roman", Times, serif;
	font-size:36px;
	color:#000;
	text-align:center;
}

.text-gray-subheader
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#999;
	text-align:left;
	font-weight:bold;
}

.text-black-content
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#666;
	line-height:20px;
	text-align:left;
}

.text-black-content2
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	line-height:20px;
	font-weight:bold;
}

.text-black-content3
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	line-height:20px;
	font-weight:bold;
}

.text-black-content4
{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#000;
	line-height:20px;
	text-align:left;
}

.bg-item-container
	{
		background-image:url(../images/bg-item-container.jpg);
		background-repeat:no-repeat;
		width:960px;
		height:586px;
		margin-top:25px;
		padding-top:0px;
		text-align:left;
	}
	
.img-vid-container
	{
	}

.img-60days
	{
		background-image:url(../images/img-60days.jpg);
		background-repeat:no-repeat;
		width:811px;
		height:192px;
	}
	
.img-notebook-strip
	{
		background-image:url(../images/img-notebook-strip.jpg);
		width:615px;
		padding:30px;
	}
	
.text-60days
	{
		color:#fff;
		font-size:12px;
		text-align:left;
		padding-top:110px;
		width:776px;
		font-family:Tahoma, Geneva, sans-serif;
	}
	
.bg-email {
	width:390px;
	height:59px;
	background:url(../images/email-box.png);
	padding:63px 0px 0px 16px;
	}
	
.bg-email-top {
	width:312px;
	height:47px;
	background:url(../images/email-box-top.png);
	padding:49px 0px 0px 14px;
	}
	
.text
	{
	width:354px;
	height:51px;
	background-color:transparent;
	border:0px none transparent;
	padding:0px 10px 0px 10px;
	font-size:17px;
	}
	
.text-top
	{
	width:281px;
	height:39px;
	background-color:transparent;
	border:0px none transparent;
	padding:0px 10px 0px 10px;
	font-size:17px;
	}
	
#footer
{
	padding-top:30px;
	font:Tahoma, Geneva, sans-serif;
	width:1024px;
	font-size:14px;	
}
	
a img {border:none;}

a.recommend			{background-image:url(../images/btn-recommend.jpg);
					width:95px; 
					height:24px; 
					display:block}
				
a.recommend:hover	{background-image:url(../images/btn-recommend-hover.jpg);
					width:95px; 
					height:24px; 
					display:block}
					
a.green			{color:#70BA08;
				text-decoration:none;
}


a.green2		{color:#13A52B;
				text-decoration:none;
}


.side-panel a
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:none;
	font-size:16px;
}

.side-panel a:hover
{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-decoration:underline;
	font-size:16px;
}

.gray-line-hor
{
	background-color:#EEEEEE;
	height:1px;
	width:100%;	
}

.sq1 {
	width:407px;
	height:408px;
	background:url(../images/imgErica.png);
	position:relative;
	}
	
.sq2 {
	width:295px;
	height:201px;
	background:url(../images/imgMustHaveMom.png);
	position:relative;
	}
	
.sq3 {
	width:295px;
	height:199px;
	background:url(../images/imgEGFruits.png);
	position:relative;
	}
	
.sq4 {
	width:307px;
	height:407px;
	background:url(../images/imgAgirl.png);
	position:relative;
	}
	
.sq5 {
	width:276px;
	height:362px;
	background:url(../images/imgEGWoodenTable.png);
	position:relative;
	}
	
.sq6 {
	width:306px;
	height:362px;
	background:url(../images/imgMustHaveMom2.png);
	position:relative;
	}
	
.sq7 {
	width:426px;
	height:362px;
	background:url(../images/imgEGSexyBod.png);
	position:relative;
	}
	
.sq8 {
	width:490px;
	height:528px;
	background:url(../images/imgMustHaveMom3.png);
	position:relative;
	}
	
.sq9 {
	width:527px;
	height:528px;
	background:url(../images/imgGalinkaBeach.png);
	position:relative;
	}
	
.bg-trans-white
{
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/bgWhiteTrans.png);
	font-family:Arial, Helvetica, sans-serif;
	padding:13px;
}

#package-blue-gradient {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00DCE9F2'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCE9F2)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFFFFF,  #DCE9F2); /* for firefox 3.6+ */
}

.line-black
{
	width:100px; background-color:#000; margin-top:40px
}

.border-package1
{
	border-top:3px solid #AFCEE0;
	border-left:3px solid #AFCEE0;
	border-bottom:3px solid #AFCEE0;
}

.border-package3
{
	border:7px solid #4B91BA;
}


/* Fonts */
.pt-sans	{font-family: 'PT Sans', serif; }
.roboto	{font-family:'Roboto' !important}
.roboto-condensed	{font-family:'Roboto Condensed' !important}

@font-face{font-family:'Ruly';src:url('../content/fonts/RulyRG.ttf');font-weight:normal;font-style:normal}
@font-face{font-family:'Ruly_IE';src:url('../content/fonts/RulyRG.eot');font-weight:normal;font-style:normal}
.ruly { font-family: Ruly,Ruly_IE; }

@font-face{font-family:'Helvetica_heavy';src:url('../content/fonts/HelveticaNeueLTCom-Hv.ttf');}
@font-face{font-family:'Helvetica_heavy_IE';src:url('../content/fonts/HelveticaNeueLTCom-Hv.eot');}
.helvetica_heavy { font-family: Helvetica_heavy,Helvetica_heavy_IE; }

@font-face{font-family:'Roboto_bold';src:url('../content/fonts/robotocondensed-bold.ttf');}
@font-face{font-family:'Roboto_bold_IE';src:url('../content/fonts/robotocondensed-bold.eot');}
.roboto_bold { font-family: Roboto_bold,Roboto_bold_IE; }

@font-face{font-family:'Helvetica_It';src:url('../content/fonts/helveticaneueltcom-lt.ttf');}
@font-face{font-family:'Helvetica_It_IE';src:url('../content/fonts/helveticaneueltcom-lt.eot');}
.helvetica_light { font-family: Helvetica_It,Helvetica_It_IE; }

@font-face{font-family:'Helvetica_bold_con';src:url('../content/fonts/helveticaneueltcom-bdcn.ttf');}
@font-face{font-family:'Helvetica_bold_con_IE';src:url('../content/fonts/helveticaneueltcom-bdcn.eot');}
.helvetica_bold_con { font-family: Helvetica_bold_con,Helvetica_bold_con_IE; }

@font-face{font-family:'MyriadPro_regular';src:url('../content/fonts/MyriadPro-Regular.ttf');}
@font-face{font-family:'MyriadPro_regular_IE';src:url('../content/fonts/MyriadPro-Regular.eot');}
.myriadPro_regular { font-family: MyriadPro_regular,MyriadPro_regular_IE; }

@font-face{font-family:'MyriadPro_bold';src:url('../content/fonts/MyriadPro-Bold.ttf');}
@font-face{font-family:'MyriadPro_bold_IE';src:url('../content/fonts/MyriadPro-Bold.eot');}
.myriadPro_bold { font-family: MyriadPro_bold,MyriadPro_bold_IE; }

@font-face{font-family:'Century_regular';src:url('../content/fonts/Century_Regular.ttf');}
@font-face{font-family:'Century_regular_IE';src:url('../content/fonts/Century_Regular.eot');}
.century_regular { font-family: Century_regular,Century_regular_IE; }

@font-face{font-family:'KGYouWontBringMeDownBold';src:url('../content/fonts/KGYouWontBringMeDownBold.ttf');}
@font-face{font-family:'KGYouWontBringMeDownBold_IE';src:url('../content/fonts/KGYouWontBringMeDownBold.eot');}
.kGYouWontBringMeDownBold { font-family: KGYouWontBringMeDownBold,KGYouWontBringMeDownBold_IE; }
		
/*Misc*/
.fleft	{float:left}
.fright	{float:right}
.clear  {clear:both}

.taligncenter {text-align:center}
.talignleft {text-align:left}
.talignright {text-align:right}

.fwbold	{font-weight:bold}

.pall30	{padding:30px}
.pall20	{padding:20px}
.pall5	{padding:5px}

.ptop60	{padding-top:60px}
.ptop50	{padding-top:50px}
.ptop43	{padding-top:43px}
.ptop40	{padding-top:40px}
.ptop37	{padding-top:37px}
.ptop30	{padding-top:30px}
.ptop25	{padding-top:25px}
.ptop20	{padding-top:20px}
.ptop25	{padding-top:25px}
.ptop15	{padding-top:15px}
.ptop12	{padding-top:12px}
.ptop10	{padding-top:10px}
.ptop7	{padding-top:7px}
.ptop5	{padding-top:5px}
.ptop2	{padding-top:2px}

.pright55 	{padding-right:55px}
.pright40 	{padding-right:40px}
.pright34 	{padding-right:34px}
.pright30 	{padding-right:30px}
.pright20 	{padding-right:20px}
.pright15 	{padding-right:15px}
.pright10 	{padding-right:10px}

.pleft310 {padding-left:310px}
.pleft80 {padding-left:80px}
.pleft50 {padding-left:50px}
.pleft34 {padding-left:34px}
.pleft30 {padding-left:30px}
.pleft22 {padding-left:22px}
.pleft20 {padding-left:20px}
.pleft15 {padding-left:15px}
.pleft13 {padding-left:13px}
.pleft10 {padding-left:10px}
.pleft7 {padding-left:7px}
.pleft5 {padding-left:5px}
.pleft3 {padding-left:3px}

.pbot50	{padding-bottom:50px}
.pbot40	{padding-bottom:40px}
.pbot17	{padding-bottom:17px}
.pbot10	{padding-bottom:10px}


.mtop500	{margin-top:500px}
.mtop110	{margin-top:110px}
.mtop90	{margin-top:90px}
.mtop80	{margin-top:80px}
.mtop70	{margin-top:70px}
.mtop60	{margin-top:60px}
.mtop50	{margin-top:50px}
.mtop48	{margin-top:48px}
.mtop43	{margin-top:43px}
.mtop40	{margin-top:40px}
.mtop37	{margin-top:37px}
.mtop36	{margin-top:36px}
.mtop35	{margin-top:35px}
.mtop30	{margin-top:30px}
.mtop20	{margin-top:20px}
.mtop25	{margin-top:25px}
.mtop23	{margin-top:23px}
.mtop15	{margin-top:15px}
.mtop12	{margin-top:12px}
.mtop10	{margin-top:10px}
.mtop8	{margin-top:8px}
.mtop7	{margin-top:7px}
.mtop5	{margin-top:5px}
.mtop2	{margin-top:2px}


.mleft310 {margin-left:310px}
.mleft175 {margin-left:175px}
.mleft100 {margin-left:100px}
.mleft135 {margin-left:135px}
.mleft108 {margin-left:118px}
.mleft80 {margin-left:80px}
.mleft61 {margin-left:61px}
.mleft60 {margin-left:60px}
.mleft55 {margin-left:55px}
.mleft50 {margin-left:50px}
.mleft45 {margin-left:45px}
.mleft43 {margin-left:43px}
.mleft40 {margin-left:40px}
.mleft32 {margin-left:32px}
.mleft30 {margin-left:30px}
.mleft25 {margin-left:25px}
.mleft22 {margin-left:22px}
.mleft20 {margin-left:20px}
.mleft19 {margin-left:19px}
.mleft15 {margin-left:15px}
.mleft10 {margin-left:10px}
.mleft5 {margin-left:5px}
.mleft3 {margin-left:3px}
.mleft2 {margin-left:2px}
.mleft1 {margin-left:1px}

.mbot40	{margin-bottom:40px}
.mbot30	{margin-bottom:30px}
.mbot20	{margin-bottom:20px}
.mbot17	{margin-bottom:17px}
.mbot15	{margin-bottom:15px}
.mbot12	{margin-bottom:12px}
.mbot10	{margin-bottom:10px}
.mbot8	{margin-bottom:8px}
.mbot5	{margin-bottom:5px}

.width843	{width:843px}
.width760	{width:760px}
.width640	{width:640px}
.width600	{width:600px}
.width595	{width:595px}
.width520	{width:520px}
.width500	{width:500px}
.width474	{width:474px}
.width459	{width:459px}
.width420	{width:420px}
.width400	{width:400px}
.width300	{width:300px}
.width297	{width:297px}
.width295	{width:295px}
.width278	{width:278px}
.width273	{width:273px}
.width265	{width:265px}
.width260	{width:260px}
.width250	{width:250px}
.width243	{width:243px}
.width229	{width:229px}
.width215	{width:215px}
.width10	{}

.height190	{height:190px}
.height104	{height:104px}
.height40	{height:40px}
.height2	{height:2px}

.colorwhite	{color:#FFF}

.callnow {font-size:13px}
.valign-top{vertical-align:top}

.fs70 {font-size:70px}
.fs66 {font-size:66px}
.fs64 {font-size:64px}
.fs61 {font-size:61px}
.fs60 {font-size:60px}
.fs59 {font-size:59px}
.fs54 {font-size:54px}
.fs50 {font-size:50px}
.fs48 {font-size:48px}
.fs45 {font-size:45px}
.fs42 {font-size:42px}
.fs40 {font-size:40px}

.fs37 {font-size:37px}
.fs35 {font-size:35px}
.fs32 {font-size:32px}
.fs30 {font-size:30px}
.fs28 {font-size:28px}
.fs26 {font-size:26px}
.fs25 {font-size:25px}
.fs24 {font-size:24px}
.fs23 {font-size:23px}
.fs21 {font-size:21px}
.fs20 {font-size:20px}
.fs19 {font-size:19px}
.fs18 {font-size:18px}
.fs17 {font-size:17px}
.fs16 {font-size:16px}
.fs15 {font-size:15px}
.fs14 {font-size:14px}
.fs13 {font-size:13px}
.fs12 {font-size:12px}
.fs11 {font-size:11px}
.fs9 {font-size:9px}
.fs0  {font-size:0px}

.ls0  {letter-spacing:0px}

.lh72 {line-height:72px}
.lh34 {line-height:34px}
.lh30 {line-height:30px}
.lh40 {line-height:40px}
.lh55 {line-height:55px}
.lh45 {line-height:45px}
.lh61 {line-height:61px}
.lh25 {line-height:25px}
.lh22 {line-height:22px}
.lh19 {line-height:19px}
.lh18 {line-height:18px}
.lh16 {line-height:16px}
.lh0 {line-height:0px}

.coloryorange	{color:#FFCC00}
.coloryellow	{color:#FFFF00}
.colorpblue	{color:#338CC4}
.colorwhite	{color:#FFF}
.colorred	{color:red}
.colorred2  {color:#D80000}
.colorblack	{color:#000}
.colorred2 {color:#CC0000}
.colorgreen {color:#86D52F;}
.colordgreen {color:#51821C;}
.colorblack {color:#000}
.colorbrick	{color:#EC6633}
.colorgray	{color:#707070}
.colorlgray	{color:#D2D2D2}
.colornblue	{color:#338EC4}
.colorblue	{color:#1B5D9E}
.colormshgreen {color:#0C8C00}
.colordgreen {color:#1F5E14}

.bgwhite	{background-color:#FFF}
.bgblack	{background-color:#000}
.bgbeige	{background-color:#FFF9CD}
.bggray		{background-color:#DCDCDC}
.bgdgray	{background-color:#DDDDDD}
.bgdblue	{background-color:#1B242D}
.bglgray	{background-color:#F7F7F7}
.bglgray2	{background-color:#EDEDEF}
.bgcyan		{background-color:#D2F0FB}
.bglgray2	{background-color:#D4D4D4}
.bggreen	{background-color:#86D52F}
.bglyellow	{background-color:#fffbbe}
.bglyellow2	{background-color:#EFE29C}
.bglgreen	{background-color:#F0FFF4}


.brdrblack	{border:solid #000 1px}
.brdrred	{border:solid #D90000 1px}
.brdrblue	{border:solid #1B242D 2px}
.brdrorange	{border:solid #FFE4B3 1px}	
.brdrgray	{border:1px solid #E8E8E8}
.brdrgray2	{border:1px solid #C4C4C4}

.brdrgray2-bottom	{border-bottom:1px solid #C4C4C4}

.brdrgray2-right	{border-right:1px solid #C4C4C4}

